In [1]:
a = 'this is a string'

In [3]:
b = a.replace('string', 'longer string')

In [4]:
a

'this is a string'

In [5]:
b

'this is a longer string'

In [6]:
s = 'python'

In [7]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [9]:
s[:3] # slice

'pyt'

In [33]:
s =r'''this has
hello'''

In [34]:
s

'this has\nhello'

In [35]:
from datetime import datetime, date, time

In [63]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [37]:
dt.day

29

In [64]:
dt.time()

datetime.time(20, 30, 21)

In [44]:
dt.strftime('%m/%d/%Y %H:%M') # m means month M means Minute

'10/29/2011 20:30'

In [45]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [58]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [59]:
dt.replace(minute = 0, second = 0)

datetime.datetime(2011, 10, 29, 20, 0)

In [65]:
delta = dt2 - dt

In [66]:
delta

datetime.timedelta(days=17, seconds=7179)

In [67]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [76]:
x = float(input())
if x < 0:
    print('it\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0< x < 5:
    print('Positive but smaller than 5')
else:
    print("Positive and larger than or euqal to 5")

6
Positive and larger than or euqal to 5

In [85]:
sequence = [1,2 ,None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    print(total)

1
3
7
12

In [89]:
x = 256
total = 0
while x > 0:
    if total >500:
        break
    total +=x
    print(total)
    x= x // 2

256
384
448
480
496
504

In [103]:
x = float(input())
if x <0:
    print('negative!')
if x == 0: 
    pass
else:
    print('positive!')

0

In [104]:
a = range(10)
a

range(0, 10)

In [105]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
a[:3]

range(0, 3)

In [107]:
a[4:5]

range(4, 5)

In [108]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
list(a[:3])

[0, 1, 2]

In [111]:
seq = [1,2,3,4]

In [119]:
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [123]:
sum = 0 
for i in range(100):
    if i % 3 == 0 or i % 5 == 0:
        sum +=i
  #      print(i)
  # print(sum)

In [124]:
x = 5
'non-negative' if x >= 0 else 'negative'

'non-negative'