In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = ((4, 5, 6), (7, 8))

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0 ,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [10]:
tup = tuple(['foo', [1, 2], True])

In [12]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(4)

In [17]:
tup[1]

[1, 2, 3, 4]

In [18]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [25]:
a =('foo', 'bar') 
a * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [28]:
tup= (4, 5, 6)
a, b, c = tup
c

6

In [39]:
tup = 4, 5, (6, 7)
a, b , c = tup
c

(6, 7)

In [41]:
tup = 4, 5, (6, 7)
a, b, (c, d)= tup    #  一一对应可以拆分元组内的元组
d

7

In [45]:
a, b = 1, 2; print(a, b)
a, b = b, a; print(a, b)

1 2
2 1

In [49]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [52]:
for a, b, c in seq:
    print('a={0}, b = {1}, c = {2}'.format(a ,b, c) )

a=1.0, b = 2, c = 3
a=4.0, b = 5, c = 6
a=7.0, b = 8, c = 9

In [59]:
value = 1, 2, 3, 4, 5

In [63]:
a, b , *rest = value  # rest ususal use "_"
a,b

(1, 2)

In [65]:
rest

[3, 4, 5]

In [71]:
a = (1, 2, 2, 2, 4, 3, 2)
a.count(2)

4

In [72]:
a_list = [2, 3, 7, None]

In [73]:
tup = ('foo', 'bar', 'baz')

In [76]:
b_list = list(tup) ; b_list

['foo', 'bar', 'baz']

In [80]:
b_list[1] = 'peekaboo'

In [81]:
b_list

['foo', 'peekaboo', 'baz']

In [82]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
b_list.insert(1, 'red')

In [91]:
b_list

['foo', 'red', 'peekaboo']

In [88]:
b_list.pop(2)

IndexError: pop index out of range

In [92]:
b_list

['foo', 'red', 'peekaboo']

In [94]:
b_list.remove('foo')

In [95]:
b_list

['red', 'peekaboo']

In [96]:
b_list.append('dwarf')

In [98]:
'dwarf' not in b_list

False

In [99]:
x = [4, None, 'foo']

In [100]:
x.extend([7, 8, [2, 3]])

In [101]:
x

[4, None, 'foo', 7, 8, [2, 3]]

In [102]:
x + [5 ,6 ]   # 加法比extend 耗费内存， 因为要新建列表，之后复制对象

[4, None, 'foo', 7, 8, [2, 3], 5, 6]

In [103]:
a = [7, 2, 5, 1, 3]

In [105]:
a.sort() ;a   # sort  在原始列表中排序

[1, 2, 3, 5, 7]

In [106]:
b = ['saw', 'small', 'he', 'foxes', 'six']

In [107]:
b.sort(key = len) # 排序关键字

In [108]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [109]:
import bisect

In [114]:
c = [1, 2, 2, 2, 3, 4, 7]

In [118]:
bisect.bisect(c, 2) # 将 2 插入到认为已经排好序的列表c index 4 的位置 ，而不改变排序

4

In [116]:
bisect.bisect(c, 5)

6

In [120]:
bisect.insort(c, 6) ;c

[1, 2, 2, 2, 3, 4, 6, 6, 7]

In [122]:
seq = [7, 2,3, 7, 5, 6, 0, 1]

In [124]:
seq [1:5]

[2, 3, 7, 5]

In [125]:
seq [:5] # 切片 【start : stop 】从index start 开始，不包括index stop

[7, 2, 3, 7, 5]

In [127]:
seq[::2]

[7, 3, 5, 0]

In [129]:
seq[::-1]  # 负数表示从后面开始取， -1 的step 就将列表倒过来

[1, 0, 6, 5, 7, 3, 2, 7]

In [133]:
some_list = ['foo', 'bar', 'baz']
mapping={}

In [135]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [136]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [137]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [138]:
seq1 = ['foo', 'bar','baz']
seq2 = ['one', 'two', 'three']

In [148]:
zipped = zip(seq1, seq2) # zip 函数将列表或者其他序列成对组合

In [149]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [142]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) # 可以组合任意多的序列，元素的个数取决于最短的

[('foo', 'one', False), ('bar', 'two', True)]

In [153]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print ('{0}: {1}, {2}'.format(i ,a, b))

0: foo, one
1: bar, two
2: baz, three

In [154]:
pitchers = [('Nolan', 'Ryan'),('Roger', 'Clemens'),('Schilling', 'Curt')]

In [160]:
first_names, last_names = zip(*pitchers)

In [157]:
first_names, last_names

(('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt'))

In [162]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [163]:
empty_dict = {}

In [164]:
d1 = {'a' :"some value", 'b' : [1, 2, 3, 4]}

In [165]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [166]:
d1[7]= 'an integer'

In [167]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [178]:
d1['5']='some value'

In [180]:
d1['dummy'] = 'another value'

In [181]:
d1.pop('dummy')

'another value'

In [183]:
list(d1.keys())

['a', 'b', 7, '5']

In [184]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer', 'some value']

In [187]:
d1.update({'b': 'boo', 'c': 12}) # update是原地改变字典， 有可能会刷新原来的键值对

In [186]:
d1

{'a': 'some value', 'b': 'boo', 7: 'an integer', '5': 'some value', 'c': 12}

In [188]:
mapping = dict(zip(range(5), reversed(range(5))))

In [189]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [190]:
words =['apple', 'bat', 'bar', 'atom', 'book']

In [207]:
by_letter = {}

In [208]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [209]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [210]:
from collections import defaultdict
by_letter = defaultdict(list)

In [211]:
for word in words:
    by_letter[word[0]].append(word)

In [213]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [215]:
hash('string')

-713820545226279023

In [217]:
hash((1,2,(3,4)))

-2725224101759650258

In [218]:
d = {}
d[tuple([2,3,4])] =5

In [219]:
d

{(2, 3, 4): 5}

In [220]:
a = {1,2,3,4,5}

In [221]:
b = {3,4,5,6,7,8
}

In [222]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [223]:
c = a.copy()

In [224]:
c |= b

In [225]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [226]:
d = a.copy()

In [227]:
d &= b

In [228]:
d

{3, 4, 5}

In [229]:
string = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [233]:
upper_word = [x.upper() for x in string if len(x) >2]

In [234]:
upper_word

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [236]:
lengths_word = {len(x) for x in string}

In [3]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
             ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
names_of_interest = []

In [5]:
for names in all_data:
    enough_es = [name for name in names if name.count('e')>= 2 ]
    names_of_interest.extend(enough_es)

In [6]:
names_of_interest

['Steven']

In [8]:
result = [name for names in all_data for name in names 
          if name.count('e') >= 2]

In [9]:
result

['Steven']

In [11]:
some_tuples = [(1,2,3), (4,5,6), (7,8,9)]

In [12]:
flattended = [x for tup in some_tuples for x in tup]
# 列表推导：推导x ，嵌套两层for，从后向前过滤

In [13]:
flattended

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
flattended = []

for tup in some_tuples:
    for x in tup:
        flattended.append(x)

In [23]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
tup

(7, 8, 9)

In [19]:
x

9

In [24]:
def f():
    a = 5 
    b = 6 
    c = 7
    return a, b ,c

In [26]:
x, c, v = f()

In [27]:
x

5

In [28]:
x == a

True

In [29]:
x is a

True

In [30]:
a += 1

In [31]:
x

5

In [32]:
a

6

In [33]:
x == a

False

In [35]:
a =5; x=a

In [36]:
a += 1
x == a

False

In [37]:
x

5

In [38]:
a

6

In [39]:
a = 6
x =a 
x

6

In [40]:
a = 7

In [41]:
x

6

In [42]:
a = [1, 2, 3]

In [43]:
b = a

In [44]:
b

[1, 2, 3]

In [45]:
a.append(4)

In [46]:
b

[1, 2, 3, 4]

In [60]:
states = ['   Alabama ', 'Georgia!', 
          'Georgia', 'georgia', 'FlOrIda', 'south  
          carolina##', 'West virginia?']

In [57]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [62]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [83]:
str.strip?

In [69]:
lambda x : x*2

In [71]:
def apply_to_list (some_list, f):
    return [f(x) for x in some_list]

ints = [4,0,1,5,6]
apply_to_list(ints, lambda x : x * 2) 
# lambda 是一个匿名函数，自定义运算

[8, 0, 2, 10, 12]

In [72]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [73]:
strings.sort(key=lambda x : len(set(list(x)))) # string 中去重的字母数量

In [74]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [80]:
strings.sort(key=lambda x :len(set(list(x))))

In [81]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

lambda函数之所以会被称为匿名函数，与def声明的函数不同，原因之一就是这种函数对象本身是没有提供名称name属性。

In [82]:
dict ((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [84]:
import itertools

In [86]:
first_letter = lambda x: x[0] # get the first letter of each name

In [92]:
names = ['Alan', 'Adam', 'Wes', "Will", 'Albert', 'Steven']

In [93]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']